.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    color:#fff;
}
.red{
    background: red;
}
.blue{
    background: blue;
}
button[disabled]{
    background-color: gray;
}